{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue sur easyCoach !</h1>

    {% if app.user %}
        <p>Bonjour {{ app.user.firstname }} {{ app.user.name }}, vous êtes connecté.</p>
        <a href="{{ path('app_logout') }}">Se déconnecter</a>
    {% else %}
        <p>Vous n'êtes pas connecté.</p>
        <a href="{{ path('app_login') }}">Connexion</a> ou 
        <a href="{{ path('app_register') }}">Inscription</a>
    {% endif %}
{% endblock %}
