{% extends 'base.html.twig' %}

{% block title %}Détail de l'équipement {% endblock %}

{% block body %}
<div class="max-w-xl mx-auto px-4 mt-6 pb-20">
 
    <div class="mb-8">
        <h2 class="text-3xl font-black uppercase tracking-tighter text-slate-900 leading-none">
            Equipement :  {{equipment.name}}
        </h2>

    </div>

    <div class="space-y-6">
    
        <div class="bg-white border-2 border-slate-900 p-6">
            <h3 class="text-xs font-black uppercase text-slate-400 mb-4 tracking-widest">Informations sur l'équipement </h3>
            
            <div class="space-y-4">
          
                <div class="flex justify-between items-center pt-2 border-t border-slate-100">
                    <div>
                        <span class="block text-xs font-bold uppercase text-slate-500"> Nom : <span class="text-lg font-bold">{{equipment.name }}</span></span>
    
                    </div>
                </div>
                 <div class="pt-2 border-t border-slate-100">
                    <span class="block text-xs font-bold uppercase text-slate-500"> Quantité initiale : <span class="text-lg font-bold break-all"> {{equipment.totalQuantity}}</span> </span>
                    
                </div>
        
                <div class="flex justify-between items-center pt-2 border-t border-slate-100">
                    <div>
                        <span class="block text-xs font-bold uppercase text-slate-500"> Quantité minimale requise : <span class="text-lg font-bold">  {{equipment.alertLevel }}</span></span>
                        
                    </div>
                </div>
            

            </div>
        </div>

        <div class="grid grid-cols-2 gap-4 mt-8">
            <a href="{{ path('equipment_update', {'id': equipment.id}) }}" class="bg-white text-slate-900 text-center py-4 border-2 border-slate-900 font-black uppercase text-sm hover:bg-slate-50 transition-all">
                Modifier
            </a>
            <a href="{{ path('equipment_index') }}" class="bg-slate-900 text-white text-center py-4 border-2 border-slate-900 font-black uppercase text-sm hover:bg-indigo-600 transition-all">
                Retour
            </a>
        </div>
    </div>
</div>
{% endblock %}