{% extends 'base.html.twig' %}

{% block title %}Les entrainements{% endblock %}

{% block body %}

<div class="max-w-md mx-auto px-4 mt-6 pb-20">


    <div class="mb-10 text-center">
        <h2 class="text-4xl font-black uppercase tracking-tighter text-slate-900 leading-none">
            Les  <span class="text-indigo-600">entraînements</span>
        </h2>

        <div class="flex justify-center mt-6">
            <a href="{{ path('training_new') }}"
                class="bg-slate-900 text-white px-8 py-3 font-black uppercase text-xs tracking-widest active:bg-indigo-600 transition-colors">
                + Créer un entrainement
            </a>
        </div>
    </div>


    <div class="space-y-4">
        {% for training in trainings %}
        <div
            class="bg-white border-4 border-slate-900  p-4 transition-transform active:translate-x-1 active:translate-y-1 active:shadow-none">

            <div class="flex justify-between items-start mb-4 active:translate-x-0.5 active:translate-y-0.5" >
                <div class="cursor-pointer" data-url="{{ path('training_show', {'id': training.id}) }}"
                    onclick="window.location.href=this.dataset.url">
                    <span class="inline-block bg-indigo-600 text-white text-[10px] font-black px-2 py-0.5 uppercase mb-1">
             {% if training.date|date('d/m/y') %}
                {{ training.date|date('d/m/y') }}
            {% else %}
                À programmer
             {% endif %}
            </span>
                
                    <p class="text-slate-500 text-xs font-bold uppercase">
                       Heure de début :  {{ training.startTime ? training.startTime|date('H:i') : '--:--' }} 
                    </p>
                    <p class="text-slate-500 text-xs font-bold uppercase">
                       Heure de fin :  {{ training.endTime ? training.endTime|date('H:i') : '--:--' }}
                    </p>
                      <p class="text-slate-500 text-xs font-bold uppercase">
                       Theme :  {{training.theme.value }} 
                    </p>
                      <p class="text-slate-500 text-xs font-bold uppercase">
                       Observations :  {{training.coachObservation }} 
                    </p>
                </div>
            </div>


            <div class="flex border-t-2 border-slate-900 mt-4 pt-3 gap-4">
                <a href="{{ path('training_update', {'id': training.id}) }}"
                    class="text-[10px] font-black uppercase tracking-widest text-slate-400 hover:text-indigo-600">Modifier</a>
                <div class="text-[10px] font-black uppercase tracking-widest text-red-500">
                    {% include "training/_delete_form.html.twig" %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}